<% include partials/header %>

<h1>You fell in love with:<%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === "Rock"){ %>
    <p>Good Choice! Rock is the Best!</p>
<% } else { %>
 <P>Bad choice! You should have said Rock!</P>
 <% } %>
  <p>P.S this is the love.ejs file!</p>
<% include partials/footer %>